# Ignore the Jekyll build output
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ignore local dependency installs
vendor/

# Ignore log files and temp files
*.log
*.tmp

# Ignore my notes
_notes/
